@model TestMVC_HoteLandLyst.Models.BookingModel;
@{
    ViewData["Title"] = "Room" + Model.Room.RoomNumber + "Details";
}






<h1> Welcome to room @{Html.DisplayFor(model => model.Room.RoomNumber);}!</h1>
@*<h4>This room costs @Model.Room.ToString() kr. daily</h4>*@
@*<label>This room costs @Html.LabelForModel(Model.Room.ToString(), new { id = "RoomPrice" }) kr. daily</label>*@

@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker", id ="datepicker" } })

@using (Html.BeginForm("AddToBooking", "RoomDetails", FormMethod.Post, new { @class = "needs-validation" }))
{
    @Html.LabelFor(model => Model.ReservationPrice, Model.Room.ToString(), new { id = "RoomPrice" })
    @*<form class="needs-validation" novalidate>*@
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <label class="label col-form-label">Start date:</label><br>
                @*@Html.EditorFor(model => model.StartDate, new
                    {
                        htmlAttributes = new
                        {
                            @type = "text",
                            //@class = "form-control",
                            //min = DateTime.Now.ToUniversalTime().ToString().Replace("/",":"),
                            //max = "12-31-2030 14:00:00",
                            id = "startDatePicker",
                            required = "required"
                        }
                    })
                         <div class="invalid-feedback">
                             Please insert a valid date.
                         </div>*@
            </div>

            <div class="col">
                <label class="label col-form-label">End date:</label><br>
                @Html.EditorFor(model => model.EndDate, new
           {
               htmlAttributes = new
               {
                   @type = "datetime-local",
                   @class = "form-control",
                   min = "01-01-2020 10:00:00",
                   max = "12-31-2030 14:00:00",
                   id = "endDate",
                   required = "required"
               }
           })
                <div class="invalid-feedback">
                    Please insert a valid date.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <button class="btn btn-success btn-block" type="submit" id="submitButton" name="submitButton">Submit booking</button>
                @*@Html.ActionLink("Submit Button", "AddToBooking", "RoomDetails", new { BookingModel = Model }, new {@class= "btn btn-success btn-block", value="Submit Booking" })*@
            </div>
        </div>
    </div>
    @*</form>*@
}

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/js/Dates.js"></script>


<script>
    $(document).ready(function () {
        alert('hello');
    });
    //$(function () {
    //    $("#datepicker").datepicker();
    //});
</script>